In [159]:
import openml
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder #For encoding categorical variables
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans,AgglomerativeClustering,DBSCAN,AffinityPropagation,MeanShift
from sklearn.metrics import accuracy_score,f1_score,adjusted_rand_score,silhouette_score
from joblib import Parallel,delayed
import time

# Download Datasets Using openml

In [160]:
iris = openml.datasets.get_dataset("iris")
iris_df, iris_label, categorical_indicator, attribute_names = iris.get_data(
    target=iris.default_target_attribute, dataset_format="dataframe"
)
iris_df["class"]=iris_label
iris_x=iris_df.iloc[:,:4]
iris_df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [161]:
wine = openml.datasets.get_dataset("wine")
wine_df, wine_label, categorical_indicator, attribute_names = wine.get_data(
    target= wine.default_target_attribute, dataset_format="dataframe"
)
wine_df["class"]=wine_label
wine_x=wine_df.iloc[:,:13]
wine_df

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280%2FOD315_of_diluted_wines,Proline,class
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

# Identify Data Types

In [162]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    category
dtypes: category(1), float64(4)
memory usage: 5.1 KB

In [163]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Alcohol                         178 non-null    float64
 1   Malic_acid                      178 non-null    float64
 2   Ash                             178 non-null    float64
 3   Alcalinity_of_ash               178 non-null    float64
 4   Magnesium                       178 non-null    uint8
 5   Total_phenols                   178 non-null    float64
 6   Flavanoids                      178 non-null    float64
 7   Nonflavanoid_phenols            178 non-null    float64
 8   Proanthocyanins                 178 non-null    float64
 9   Color_intensity                 178 non-null    float64
 10  Hue                             178 non-null    float64
 11  OD280%2FOD315_of_diluted_wines  178 non-null    float64
 12  Proline                         178 non-null    int64
 13  class                           178 non-null    category
dtypes: category(1), float64(11), int64(1), uint8(1)
memory usage: 17.3 KB

# Transform categorical variable to numeric

In [164]:
le=LabelEncoder()

iris_y=le.fit_transform(iris_label)
wine_y=le.fit_transform(wine_label)

# Min-max normalise

In [165]:
scaler = MinMaxScaler()

iris_x_scaled=scaler.fit_transform(iris_x)
wine_x_scaled=scaler.fit_transform(wine_x)

# DataSets

In [166]:
Dataset = ["Iris","Wine"]

# KMeans

In [167]:
def algorithm (x, y, parameters):
    start_time = time.time()
    kmeans =KMeans(n_clusters=parameters[0], max_iter=parameters[1], n_init=parameters[2])
    y_predict = kmeans.fit_predict(x)
    f1score = f1_score(y, y_predict, average = 'weighted')
    ars = adjusted_rand_score(y, y_predict)
    sscore = silhouette_score(x, y_predict, metric='euclidean')
    execution_time = time.time() - start_time
    return y_predict, f1score, ars, sscore, execution_time

In [10]:
# def algorithm(x, y, algo):
#     start_time = time.time()
#     y_predict = algo.fit_predict(x)
#     f1score = f1_score(y, y_predict, average = 'weighted')
#     ars = adjusted_rand_score(y, y_predict)
#     sscore = silhouette_score(x, y_predict, metric='euclidean')
#     execution_time = time.time() - start_time
#     return y_predict, f1score, ars, sscore, execution_time

In [11]:
n_clusters=[2,3,4,5,6,7,8,9,10,20,21,22,23,24,25]
max_iter=[200,300,400]
n_init=[5,10,15]
    
kmean_parameters = pd.DataFrame({"n_clusters":[] , 
                                 "max_iter":[] , 
                                 "n_init":[]}).astype(int)

for i in n_clusters:
        for  ite in max_iter:
            for n in n_init:
                kmean_parameters = kmean_parameters.append({"n_clusters" : i, 
                                                            "max_iter" : ite, 
                                                            "n_init" : n},ignore_index=True)
                
                
kmean_parameters

     n_clusters  max_iter  n_init
0             2       200       5
1             2       200      10
2             2       200      15
3             2       300       5
4             2       300      10
..          ...       ...     ...
130          25       300      10
131          25       300      15
132          25       400       5
133          25       400      10
134          25       400      15

[135 rows x 3 columns]

In [12]:
# kmeans =KMeans(n_clusters=kmean_parameters.iloc[:z,:1].values, max_iter=kmean_parameters.iloc[:z,:2].values, n_init=kmean_parameters.iloc[:z,:3].values)

In [13]:
final_iris_kmeans = Parallel(n_jobs=-1)(delayed(algorithm)(iris_x_scaled, iris_y, kmean_parameters.iloc[i]) for i in range(0, len(kmean_parameters)))
final_wine_kmeans = Parallel(n_jobs=-1)(delayed(algorithm)(wine_x_scaled, wine_y, kmean_parameters.iloc[i]) for i in range(0, len(kmean_parameters)))

In [14]:
# final_iris_kmeans = Parallel(n_jobs=-1)(delayed(algorithm)(iris_x_scaled, iris_y, kmeans) for z in range(0, len(kmean_parameters)))
# final_wine_kmeans = Parallel(n_jobs=-1)(delayed(algorithm)(wine_x_scaled, wine_y, kmeans) for z in range(0, len(kmean_parameters)))

# final_iris_kmeans

In [15]:
final_kmeans_df=pd.DataFrame({
    "Dataset":[],
    "[n_clusters,max_iter,n_init]":[],
    "f1 score":[],
    "Adjusted Random Score":[],
    "Silhouette Score":[],
    "Execution Time":[],
})

In [16]:
for i in range(0, len(kmean_parameters)):
    final_kmeans_df =final_kmeans_df.append({
        "Dataset":Dataset[0],
        "[n_clusters,max_iter,n_init]":kmean_parameters.iloc[i].to_list(),
        "f1 score":final_iris_kmeans[i][1],
        "Adjusted Random Score":final_iris_kmeans[i][2],
        "Silhouette Score":final_iris_kmeans[i][3],
        "Execution Time":final_iris_kmeans[i][4],
        },ignore_index=True)
    
for i in range(0, len(kmean_parameters)):
    final_kmeans_df =final_kmeans_df.append({
        "Dataset":Dataset[0],
        "[n_clusters,max_iter,n_init]":kmean_parameters.iloc[i].to_list(),
        "f1 score":final_wine_kmeans[i][1],
        "Adjusted Random Score":final_wine_kmeans[i][2],
        "Silhouette Score":final_wine_kmeans[i][3],
        "Execution Time":final_wine_kmeans[i][4],
        "Dataset":Dataset[1]
        },ignore_index=True)
    
final_kmeans_df

,Dataset,"[n_clusters,max_iter,n_init]",f1 score,Adjusted Random Score,Silhouette Score,Execution Time
0,Iris,"[2, 200, 5]",0.000000,0.568116,0.629468,0.019949
1,Iris,"[2, 200, 10]",0.000000,0.568116,0.629468,0.038897
2,Iris,"[2, 200, 15]",0.555556,0.568116,0.629468,0.039892
3,Iris,"[2, 300, 5]",0.000000,0.568116,0.629468,0.014959
4,Iris,"[2, 300, 10]",0.000000,0.568116,0.629468,0.029917
...,...,...,...,...,...,...
265,Wine,"[25, 300, 10]",0.122015,0.159864,0.136653,0.150596
266,Wine,"[25, 300, 15]",0.021735,0.163916,0.137495,0.209439
267,Wine,"[25, 400, 5]",0.000000,0.157378,0.134845,0.076793
268,Wine,"[25, 400, 10]",0.062163,0.184235,0.143161,0.135636
269,Wine,"[25, 400, 15]",0.000000,0.159896,0.144500,0.182513

In [17]:
final_kmeans_df.to_csv('K-Means_Data.csv')

# Agglomerative Clustering

In [18]:
def algorithm (x, y, parameters):
    start_time = time.time()
    agglomerative =AgglomerativeClustering(n_clusters=parameters[0], linkage=parameters[1])
    y_predict = agglomerative.fit_predict(x)
    f1score = f1_score(y, y_predict, average = 'weighted')
    ars = adjusted_rand_score(y, y_predict)
    sscore = silhouette_score(x, y_predict, metric='euclidean')
    execution_time = time.time() - start_time
    return y_predict, f1score, ars, sscore, execution_time

In [19]:
n_clusters =[2,3,4,5,6,7,8,9,10,11,12,13,14,15]
linkage = ["ward", "complete", "average", "single"]

agglomerative_parameters = pd.DataFrame({
    "n_clusters":[] ,
    "linkage":[]}).astype(int)
  
for i in n_clusters:
        for  n in linkage:
                agglomerative_parameters = agglomerative_parameters.append({
                    "n_clusters" : i, 
                    "linkage" : n },
                    ignore_index=True)
                
agglomerative_parameters

    n_clusters   linkage
0            2      ward
1            2  complete
2            2   average
3            2    single
4            3      ward
5            3  complete
6            3   average
7            3    single
8            4      ward
9            4  complete
10           4   average
11           4    single
12           5      ward
13           5  complete
14           5   average
15           5    single
16           6      ward
17           6  complete
18           6   average
19           6    single
20           7      ward
21           7  complete
22           7   average
23           7    single
24           8      ward
25           8  complete
26           8   average
27           8    single
28           9      ward
29           9  complete
30           9   average
31           9    single
32          10      ward
33          10  complete
34          10   average
35          10    single
36          11      ward
37          11  complete
38          11   average
39          11    single
40          12      ward
41          12  complete
42          12   average
43          12    single
44          13      ward
45          13  complete
46          13   average
47          13    single
48          14      ward
49          14  complete
50          14   average
51          14    single
52          15      ward
53          15  complete
54          15   average
55          15    single

In [20]:
final_iris_aggromilative = Parallel(n_jobs=-1)(delayed(algorithm)(iris_x_scaled, iris_y, agglomerative_parameters.iloc[i]) for i in range(0, len(agglomerative_parameters)))
final_wine_aggromilative = Parallel(n_jobs=-1)(delayed(algorithm)(wine_x_scaled, wine_y, agglomerative_parameters.iloc[i]) for i in range(0, len(agglomerative_parameters)))

In [21]:
final_aggromilative_df=pd.DataFrame({
    "Dataset":[],
    "[n_clusters,linkage]":[],
    "f1 score":[],
    "Adjusted Random Score":[],
    "Silhouette Score":[],
    "Execution Time":[],
})

In [22]:
for i in range(0, len(agglomerative_parameters)):
    final_aggromilative_df =final_aggromilative_df.append({
        "Dataset":Dataset[0],
        "[n_clusters,linkage]":agglomerative_parameters.iloc[i].to_list(),
        "f1 score":final_iris_aggromilative[i][1],
        "Adjusted Random Score":final_iris_aggromilative[i][2],
        "Silhouette Score":final_iris_aggromilative[i][3],
        "Execution Time":final_iris_aggromilative[i][4],
        },ignore_index=True)
    
for i in range(0, len(agglomerative_parameters)):
    final_aggromilative_df =final_aggromilative_df.append({
        "Dataset":Dataset[1],
        "[n_clusters,linkage]":agglomerative_parameters.iloc[i].to_list(),
        "f1 score":final_wine_aggromilative[i][1],
        "Adjusted Random Score":final_wine_aggromilative[i][2],
        "Silhouette Score":final_wine_aggromilative[i][3],
        "Execution Time":final_wine_aggromilative[i][4],
        },ignore_index=True)
    
final_aggromilative_df

,Dataset,"[n_clusters,linkage]",f1 score,Adjusted Random Score,Silhouette Score,Execution Time
0,Iris,"[2, ward]",0.000000,0.568116,0.629468,0.037911
1,Iris,"[2, complete]",0.208740,0.223420,0.303913,0.055854
2,Iris,"[2, average]",0.000000,0.568116,0.629468,0.049865
3,Iris,"[2, single]",0.555556,0.568116,0.629468,0.022938
4,Iris,"[3, ward]",0.265060,0.719584,0.504349,0.007982
...,...,...,...,...,...,...
107,Wine,"[14, single]",0.175392,-0.012347,-0.120288,0.006984
108,Wine,"[15, ward]",0.280516,0.288701,0.142652,0.009973
109,Wine,"[15, complete]",0.543024,0.515401,0.186428,0.007979
110,Wine,"[15, average]",0.343167,0.684635,0.178581,0.006981
111,Wine,"[15, single]",0.176182,-0.013021,-0.148394,0.003989

In [23]:
final_aggromilative_df.to_csv('Aggromilative_Data.csv')

# DBScan Clustering

In [24]:
def algorithm (x, y, parameters):
    start_time = time.time()
    dbscan= DBSCAN(eps = parameters[0], min_samples = parameters[1])
    y_predict = dbscan.fit_predict(x)
    f1score = f1_score(y, y_predict, average = "weighted")
    ars = adjusted_rand_score(y, y_predict)
    dbscan_n_clusters = len(set(y_predict)) - (1 if -1 in y_predict else 0)
    if dbscan_n_clusters>=2:
        sscore = silhouette_score(x, y_predict, metric="euclidean")
    else:
        sscore = print("None")
    execution_time = time.time() - start_time
    return y_predict, f1score,ars,sscore, execution_time

In [25]:
eps = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
min_samples = [2,3,4,5,6,7,8]

dbscan_parameters = pd.DataFrame({
    "eps":[],
    "min_samples" :[]
}).astype(int)

for i in eps:
    for n in min_samples:
        dbscan_parameters=dbscan_parameters.append({
            "eps" : i,
            "min_samples": n
        },ignore_index=True)
        
dbscan_parameters

    eps  min_samples
0   0.1          2.0
1   0.1          3.0
2   0.1          4.0
3   0.1          5.0
4   0.1          6.0
..  ...          ...
58  0.9          4.0
59  0.9          5.0
60  0.9          6.0
61  0.9          7.0
62  0.9          8.0

[63 rows x 2 columns]

In [26]:
final_iris_dbscan = Parallel(n_jobs=-1)(delayed(algorithm)(iris_x_scaled, iris_y, dbscan_parameters.iloc[i]) for i in range(0, len(dbscan_parameters)))
final_wine_dbscan = Parallel(n_jobs=-1)(delayed(algorithm)(wine_x_scaled, wine_y, dbscan_parameters.iloc[i]) for i in range(0, len(dbscan_parameters)))

In [27]:
final_dbscan_df=pd.DataFrame({
    "Dataset":[],
    "[eps,min_samples]":[],
    "f1 score":[],
    "Adjusted Random Score":[],
    "Silhouette Score":[],
    "Execution Time":[],
})

In [28]:
for i in range(0, len(dbscan_parameters)):
    final_dbscan_df =final_dbscan_df.append({
        "Dataset":Dataset[0],
        "[eps,min_samples]":dbscan_parameters.iloc[i].to_list(),
        "f1 score":final_iris_dbscan[i][1],
        "Adjusted Random Score":final_iris_dbscan[i][2],
        "Silhouette Score":final_iris_dbscan[i][3],
        "Execution Time":final_iris_dbscan[i][4],
        },ignore_index=True)

for i in range(0, len(dbscan_parameters)):
    final_dbscan_df =final_dbscan_df.append({
        "Dataset":Dataset[1],
        "[eps,min_samples]":dbscan_parameters.iloc[i].to_list(),
        "f1 score":final_wine_dbscan[i][1],
        "Adjusted Random Score":final_wine_dbscan[i][2],
        "Silhouette Score":final_wine_dbscan[i][3],
        "Execution Time":final_wine_dbscan[i][4],
        },ignore_index=True)

In [29]:
final_dbscan_df

,Dataset,"[eps,min_samples]",f1 score,Adjusted Random Score,Silhouette Score,Execution Time
0,Iris,"[0.1, 2.0]",0.505427,0.426260,0.230234,0.007981
1,Iris,"[0.1, 3.0]",0.505427,0.428689,0.202901,0.007979
2,Iris,"[0.1, 4.0]",0.473502,0.393767,0.134221,0.007981
3,Iris,"[0.1, 5.0]",0.406043,0.441407,0.057464,0.008976
4,Iris,"[0.1, 6.0]",0.461289,0.366987,0.057155,0.007982
...,...,...,...,...,...,...
121,Wine,"[0.9, 4.0]",0.165031,0.000000,None,0.008978
122,Wine,"[0.9, 5.0]",0.165031,0.000000,None,0.006981
123,Wine,"[0.9, 6.0]",0.165031,0.000000,None,0.007980
124,Wine,"[0.9, 7.0]",0.165031,0.000000,None,0.006982
125,Wine,"[0.9, 8.0]",0.165031,0.000000,None,0.006974

In [30]:
final_dbscan_df.to_csv('DBScan_Data.csv')

In [ ]:
# n_clusters = len(set(y_dbscan)) - (1 if -1 in y_dbscan else 0)
# n_noise = list(y_dbscan).count(-1)

# print('Estimated number of clusters: %d' % n_clusters)
# print('Estimated number of noise points: %d' % n_noise)

Unlike k-means, DBSCAN will figure out the number of clusters. 
DBSCAN works by determining whether the minimum number of points are close enough to 
one another to be considered part of a single cluster. DBSCAN is very sensitive to scale since 
epsilon is a fixed value for the maximum distance between two points.

# Optics Clustering

# Gaussian mixtures Clustering

# Affinity propagation

In [153]:
def algorithm (x, y, parameters):
    start_time = time.time()
    ap =AffinityPropagation(preference=parameters[0], damping=parameters[1])
    y_predict = ap.fit_predict(x)
    f1score = f1_score(y, y_predict, average = 'weighted')
    ars = adjusted_rand_score(y, y_predict)
    op_n_clusters = len(set(y_predict)) - (1 if -1 in y_predict else 0)
    if op_n_clusters>=2:
        sscore = silhouette_score(x, y_predict, metric="euclidean")
    else:
        sscore = print("None")
#     sscore = silhouette_score(x, y_predict, metric='euclidean')
    execution_time = time.time() - start_time
    return y_predict, f1score, sscore, ars,  execution_time

In [154]:
preference = [-1,-3,-5,-7,-9,-11,-13]
damping = [0.5,0.7,0.9]

ap_parameters = pd.DataFrame({
    "preference":[],
    "damping" :[]
}).astype(int)

for i in preference:
    for n in damping:
        ap_parameters=ap_parameters.append({
            "preference":i,
            "damping" :n
        },ignore_index=True)
        
ap_parameters

    preference  damping
0         -1.0      0.5
1         -1.0      0.7
2         -1.0      0.9
3         -3.0      0.5
4         -3.0      0.7
5         -3.0      0.9
6         -5.0      0.5
7         -5.0      0.7
8         -5.0      0.9
9         -7.0      0.5
10        -7.0      0.7
11        -7.0      0.9
12        -9.0      0.5
13        -9.0      0.7
14        -9.0      0.9
15       -11.0      0.5
16       -11.0      0.7
17       -11.0      0.9
18       -13.0      0.5
19       -13.0      0.7
20       -13.0      0.9

In [155]:
final_iris_ap = Parallel(n_jobs=-1)(delayed(algorithm)(iris_x_scaled, iris_y, ap_parameters.iloc[i]) for i in range(0, len(ap_parameters)))
final_wine_ap = Parallel(n_jobs=-1)(delayed(algorithm)(wine_x_scaled, wine_y, ap_parameters.iloc[i]) for i in range(0, len(ap_parameters)))

In [156]:
final_ap_df=pd.DataFrame({
    "Dataset":[],
    "[preference, damping]":[],
    "f1 score":[],
    "Adjusted Random Score":[],
    "Silhouette Score":[],
    "Execution Time":[],
})

In [157]:
for i in range(0, len(ap_parameters)):
    final_ap_df =final_ap_df.append({
        "Dataset":Dataset[0],
        "[preference, damping]":ap_parameters.iloc[i].to_list(),
        "f1 score":final_iris_ap[i][1],
        "Adjusted Random Score":final_iris_ap[i][2],
        "Silhouette Score":final_iris_ap[i][3],
        "Execution Time":final_iris_ap[i][4],
        },ignore_index=True)
    
for i in range(0, len(ap_parameters)):
    final_ap_df =final_ap_df.append({
        "Dataset":Dataset[1],
        "[preference, damping]":ap_parameters.iloc[i].to_list(),
        "f1 score":final_wine_ap[i][1],
        "Adjusted Random Score":final_wine_ap[i][2],
        "Silhouette Score":final_wine_ap[i][3],
        "Execution Time":final_wine_ap[i][4],
        },ignore_index=True)
    
    
final_ap_df

,Dataset,"[preference, damping]",f1 score,Adjusted Random Score,Silhouette Score,Execution Time
0,Iris,"[-1.0, 0.5]",0.297129,0.315135,0.450074,0.049870
1,Iris,"[-1.0, 0.7]",0.780876,0.426983,0.664774,0.038898
2,Iris,"[-1.0, 0.9]",0.559006,0.435747,0.662306,0.098736
3,Iris,"[-3.0, 0.5]",0.898281,0.506163,0.744526,0.070813
4,Iris,"[-3.0, 0.7]",0.906329,0.489912,0.756532,0.060838
5,Iris,"[-3.0, 0.9]",0.906329,0.489912,0.756532,0.080786
6,Iris,"[-5.0, 0.5]",0.899183,0.480108,0.742975,0.061833
7,Iris,"[-5.0, 0.7]",0.893333,0.482575,0.727543,0.042887
8,Iris,"[-5.0, 0.9]",0.906329,0.489912,0.756532,0.063829
9,Iris,"[-7.0, 0.5]",0.000000,None,0.000000,0.246342
10,Iris,"[-7.0, 0.7]",0.555556,0.629468,0.568116,0.042885
11,Iris,"[-7.0, 0.9]",0.555556,0.629468,0.568116,0.057846
12,Iris,"[-9.0, 0.5]",0.000000,None,0.000000,0.247339
13,Iris,"[-9.0, 0.7]",0.555556,0.629468,0.568116,0.039889
14,Iris,"[-9.0, 0.9]",0.555556,0.629468,0.568116,0.058851
15,Iris,"[-11.0, 0.5]",0.555556,0.629468,0.568116,0.092743
16,Iris,"[-11.0, 0.7]",0.555556,0.629468,0.568116,0.038897
17,Iris,"[-11.0, 0.9]",0.555556,0.629468,0.568116,0.062830
18,Iris,"[-13.0, 0.5]",0.518169,0.601865,0.514937,0.107713
19,Iris,"[-13.0, 0.7]",0.543014,0.621354,0.548971,0.041888
20,Iris,"[-13.0, 0.9]",0.555556,0.629468,0.568116,0.054841
21,Wine,"[-1.0, 0.5]",0.049472,0.111901,0.268948,0.070815
22,Wine,"[-1.0, 0.7]",0.049472,0.111901,0.268948,0.087765
23,Wine,"[-1.0, 0.9]",0.119694,0.1122,0.323418,0.092747
24,Wine,"[-3.0, 0.5]",0.190421,0.153699,0.544779,0.046870
25,Wine,"[-3.0, 0.7]",0.289326,0.166699,0.548484,0.070810
26,Wine,"[-3.0, 0.9]",0.254139,0.117278,0.427199,0.092752
27,Wine,"[-5.0, 0.5]",0.960278,0.300092,0.880400,0.058841
28,Wine,"[-5.0, 0.7]",0.582629,0.230239,0.686014,0.047873
29,Wine,"[-5.0, 0.9]",0.582629,0.230239,0.686014,0.082778
30,Wine,"[-7.0, 0.5]",0.925736,0.290163,0.784164,0.059840
31,Wine,"[-7.0, 0.7]",0.848357,0.259594,0.615936,0.060837
32,Wine,"[-7.0, 0.9]",0.582629,0.230239,0.686014,0.093752
33,Wine,"[-9.0, 0.5]",0.960278,0.300092,0.880400,0.052857
34,Wine,"[-9.0, 0.7]",0.925736,0.290163,0.784164,0.051860
35,Wine,"[-9.0, 0.9]",0.925736,0.290163,0.784164,0.075798
36,Wine,"[-11.0, 0.5]",0.925736,0.290163,0.784164,0.061834
37,Wine,"[-11.0, 0.7]",0.925736,0.290163,0.784164,0.053854
38,Wine,"[-11.0, 0.9]",0.925736,0.290163,0.784164,0.073804
39,Wine,"[-13.0, 0.5]",0.925736,0.290163,0.784164,0.086760
40,Wine,"[-13.0, 0.7]",0.925736,0.290163,0.784164,0.045881
41,Wine,"[-13.0, 0.9]",0.925736,0.290163,0.784164,0.071808

# Mean-shift

In [168]:
def algorithm (x, y, parameters):
    start_time = time.time()
    meanshift =MeanShift(bandwidth =parameters[0], max_iter=parameters[1])
    y_predict = meanshift.fit_predict(x)
    f1score = f1_score(y, y_predict, average = 'weighted')
    ars = adjusted_rand_score(y, y_predict)
    sscore = silhouette_score(x, y_predict, metric='euclidean')
    execution_time = time.time() - start_time
    return y_predict, f1score, ars, sscore, execution_time

# Spectral Clustering

# Ward hierarchical

In [ ]:
from sklearn import metrics
labels_true = [0, 0, 0, 1, 1, 1]
labels_pred = [0, 0, 0, 1, 1, 2]
metrics.rand_score(labels_true, labels_pred)

In [158]:
ap =AffinityPropagation(preference=-5, damping=0.9)
y_predict = ap.fit_predict(iris_x_scaled)

y_predict

C:\Users\Moditha\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_affinity_propagation.py:148: FutureWarning: 'random_state' has been introduced in 0.23. It will be set to None starting from 1.0 (renaming of 0.25) which means that results will differ at every function call. Set 'random_state' to None to silence this warning, or to 0 to keep the behavior of versions <0.23.
  warnings.warn(

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1], dtype=int64)